{{ define "about"}}
{{ template "header" . }}
    <div>
        <img src="/static/image/about.jpg" alt="Phony" class="col-lg-4 col-sm-12">
        <p>This is community a driven project.</p>
    </div>
{{ template "footer" . }}
{{ end }}